<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>   <td>Welcome: <a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td> </tr>
      <tr> <td>9:45</td>   <td><a href = "https://librarycarpentry.org/lc-data-intro/">Introduction to Data</a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td><a href = "https://librarycarpentry.org/lc-shell/">The UNIX Shell</a></td> </tr>
      <tr> <td>14:50</td>  <td>Coffee Break</td> </tr>
      <tr> <td>16:00</td>  <td><a href = "https://librarycarpentry.org/lc-git/">Introduction to Git</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>   <td>Day 1 Review</td> </tr>
      <tr> <td>9:45</td>   <td><a href = "https://librarycarpentry.org/lc-spreadsheets/">Tidy Data</a></td> </tr>
      <tr> <td>11:00</td>  <td>Pivot Tables</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td><a href = "https://librarycarpentry.org/lc-open-refine/">OpenRefine</a></td> </tr>
      <tr> <td>14:50</td>  <td>Coffee Break</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up: <a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
